<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tournament Host Confirmation</title>
</head>
<body>
    <h1>Hi {{ name }}</h1>
    <p>
        Thank you for submitting your application to host a GolfNVibes event. We've received your request 
        and are excited about the prospect of bringing the GolfNVibes experience to {{ course }}


     </p>
     <p>
        <span>Next Steps</span>
        <ul>
            <li>
                <span>Review Phase(2-4 Business Days):</span>
                <p>Our team is reviewing your venue proposal, calendar availabilty and logistical details</p>

            </li>

            <li>
                <span>Introductory Call:</span>
                <p>If your venue and dates are a fit, we'll reach out to schedule a brief call to align on tournament format, sponsorship needs and media coverage</p>
                
            </li>

            <li>
                <span>Final Approval & Onboarding:</span>
                <p>Once Confirmed, we'll send over the host partner agreement and kick off marketing across the GolfNVibes network</p>
                
            </li>
        </ul>
        <span>Note: </span> Host Selections are based on the course quality, venue capacity and overall alignment with the GolfNVibes Community Culture
     </p>
     <p>
       If you need to update any details or have questions in the meantime,reply directly to this email or reach us at support@golfnvibes.com 
     </p>
     <br>
     <p>
        <span>Best Regards,</span>
        <span style="font-weight: bold;">The GolfNVibes Team</span>
        <span style="font-style: italic;">Play Hard.Vibe Harder</span>

     </p>

</body>
</html>