<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Membership Confirmation</title>
</head>
<body>
    <h1>Hello {{ name }}</h1>
    <p>
        Welcome to the <span>GolfNVibes {{ club }}</span> family! We are thriled to have you join our community where passion for the
        game meets high-energy culture, good networking , and incredible times times on and off the course.
     </p>
     <p>
    if you have any questions, hit reply or drop us a line at support@golfnvibes.com
     </p>
     <br>
     <p>
        <span style="font-weight: bold;">The GolfNVibes Team</span>
        <span style="font-style: italic;">Play Hard.Vibe Harder</span>

     </p>

</body>
</html>