<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Custom Travel Confirmation</title>
</head>
<body>
    <h1>Hey there, {{ name }}</h1>
    <h4>Reference Number: {{ reference_number }}</h4>
    <p>
        We are pleased to inform you that your custom travel to {{ destination }} has been received. Get ready 
        to some unforgettable memories. We've made things easier for you, our team is working on your request
        and will contact you within 48 hours
    </p>
    <br>
    <p>
        If you'd like to get in touch with customer care team, please reach out to us at support@golfnvibes.com.
        With {{ reference_number }} for follow up.
        <span> Cant wait to see you  </span>
    </p>

</body>
</html>